body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(109, 158, 237, 0.975);
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    height: 100vh;
}

h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
    font-size: 16px;
    margin: 20px;
}

.bottom-text{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    color: white;
}
