body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(109, 158, 237, 0.975);
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    height: 100vh;
}

h1{
    color: white;
    text-align: center;
}

